@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url('./fonts/CursedTimerULiL.eot');
    src: url('./fonts/CursedTimerULiL.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CursedTimerULiL.woff2') format('woff2'),
        url('./fonts/CursedTimerULiL.woff') format('woff'),
        url('./fonts/CursedTimerULiL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url('./fonts/CursedTimerULiL_1.eot');
    src: url('./fonts/CursedTimerULiL_1.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CursedTimerULiL_1.woff2') format('woff2'),
        url('./fonts/CursedTimerULiL_1.woff') format('woff'),
        url('./fonts/CursedTimerULiL_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  --white: #ffffff;
  --light-grey: #c0c0c0;
  --dark-grey: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: #0000ff;
  font-size: 90%;
  text-decoration: none;
}
a:hover { text-decoration: underline; }

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  border-width: min(0.25em, 0.5rem);
  border-style: solid;
  border-color: var(--white) var(--dark-grey) var(--dark-grey) var(--white);
  background-color: var(--light-grey);
}
button:hover {
  border-color: var(--dark-grey) var(--white) var(--white) var(--dark-grey);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#scoreboard,
#game-board {
  border-width: 0.35rem;
  border-style: solid;
  border-color: var(--dark-grey) var(--white) var(--white) var(--dark-grey);
}

#scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

#scoreboard span {
  font-family: 'Cursed Timer ULiL', sans-serif;
  font-size: 2em;
  color: #ff0000;
  background: #000000;
  padding: 0.25em 0.25em 0 0.25em;
}

#mine-count { cursor: pointer; }


#scoreboard button {
  height: 2.5em;
  width: 2.5em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#smiley-btn {
  margin-right: 0.5em;
  background-image: url('./img/face-smile.png');
}
#tap-switcher { background-image: url('./img/mine.png'); }
#tap-switcher.flag { background-image: url('./img/flag.png'); }

#game-board {
  display: grid;
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grey);
  font-weight: bold;
  user-select: none;
}
.cell.clicked { border: 0.05rem solid var(--dark-grey); }

.cell.num0 { color: transparent; }
.cell.num1 { color: #0000ff; }
.cell.num2 { color: #008000; }
.cell.num3 { color: #ff0000; }
.cell.num4 { color: #000080; }
.cell.num5 { color: #810102; }
.cell.num6 { color: #008081; }
.cell.num7 { color: #000000; }
.cell.num8 { color: #808080; }
.cell.numM {
  color: transparent;
  background-image: url('./img/mine.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cover,
.flag-cover {
  /* opacity: 0.5; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: var(--light-grey);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border-width: min(0.25em, 0.5rem);
  border-style: solid;
  border-color: var(--white) var(--dark-grey) var(--dark-grey) var(--white);

  cursor: pointer;
}

.cell:hover .cover {
  border-color: var(--dark-grey) var(--white) var(--white) var(--dark-grey);
}

.cell.flag:hover .cover {
  background-image: url('./img/flag.png');
  background-blend-mode: color-dodge;
}

.flag-cover {
  background-image: url('./img/flag.png');
}


#help-btn {
  padding: 0.25em 0.5em;
  font-weight: bold;
}


#settings-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000aa;
  z-index: 1;
  display: none;
}

#settings {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 45.35em;
  max-width: 100vw;
  border-width: 0.35rem;
  border-style: solid;
  border-color: var(--white) var(--dark-grey) var(--dark-grey) var(--white);
  background: var(--light-grey);
  text-align: center;
  z-index: 2;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#settings > * {
  margin: 1rem;
}

#settings img { max-width: calc(100% - 2em); }
#settings .outlined {
  border-width: min(0.25em, 0.5rem);
  border-style: solid;
  border-color: var(--white) var(--dark-grey) var(--dark-grey) var(--white);
  background-color: var(--light-grey);
}
#settings img.icon {
  height: 2.5rem;
  width: 2.5rem;
}

#settings hr { width: calc(100% - 2rem); }

#settings p {
  text-align: left;
}

#settings div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#settings div * { margin: 0 1rem; }

#settings footer {
  width: calc(100% - 2rem);
  border-width: thin 0;
  border-style: solid;
  border-color: var(--dark-grey);
  padding: 0.5rem 0;
  margin-bottom: 0;
  font-size: 75%;
}

#settings div.button-container {
  justify-content: space-between;
}

#settings button {
  padding: 0.25em 0.5em;
  font-weight: bold;
}
